<nav id="header-content container" class="bg-light">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="logo">
        <img src="../assets/logo.png" alt="">
      </div>
    </div>

    <div class="col-6">
      <div class="titulo">
        Noticias
      </div>
    </div>

    <div class="col">
      <p *ngIf="usuario != null">
        {{usuario.displayName}}
        <span>
          <img src="{{usuario.photoURL}}" alt="">
        </span>
      </p>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>