<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3><small>Inicie sesión con su red social favorita</small></h3>

            <span>
                <button id="customBtn" (click)="ingresar('google')">
                    <span class="icon"></span>
                    <span class="buttonText">Google</span>
                </button>
            </span>

            <span>
                <button id="customBtn" (click)="ingresar('twitter')">
                    <span class="iconTwitter"></span>
                    <span class="buttonText">Twitter</span>
                </button>
            </span>
        </div>
    </div>
</div>